<div class="container" layout="row">
    <md-sidenav md-is-locked-open="true" layout="column" class="md-whiteframe-1dp" flex>
        <md-list role="list">
            <div class="md-3-line" ng-repeat=" user in userCheckbox | filter: {ischecked : false}">
                <md-checkbox ng-model="user.ischecked">
                    {{user}}
                </md-checkbox>
            </div>
        </md-list>
    </md-sidenav>
    <md-content id="content" class="md-whiteframe-1dp" flex>
        <div>{{matchDetail.tag}}  vs  {{matchDetail.against}}</div>
        <div>
        <md-list role="list">
            <div class="md-3-line" ng-repeat=" user in userCheckbox | filter: {ischecked : true}">
                <md-checkbox ng-model="user.ischecked">
                    {{user}}
                </md-checkbox>
            </div>
        </md-list>
        </div>
    </md-content>
</div>